html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

$padding: 15px;
$blockNumberWidth: 5ch;

#top-bar {
    background: #eee;
    border-bottom: 1px solid #aaa;
    padding: 2px 0 3px $padding - 1;
    font-size: 12px;
    min-height: 23px;
    input {
        margin-right: 13px;
        width: 38px;
    }
    button {
        @media screen and (max-width: 732px) {
            font-size: 8px;
        }
        vertical-align: middle;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &.solo {
            font-size: unset;
            margin-top: 2px;
        }
    }
}

#settings-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    flex-grow: 1;
}

#settings, #proof-controls {
    background: #eee;
    border-top: 1px solid #aaa;
    height: 110px;
    padding: $padding;
}

#settings {
    &>div {
        display: inline-block;
        vertical-align: top;
        min-width: 82px;
        //margin-right: 8px;
        width: 12%;
        &:not(:last-child) {
            margin-right: 8px;
        }
        &::after {
            content: attr(title);
            display: block;
            font-size: 10px;
            margin-top: -3px;
            margin-left: 1px;
        }
        textarea {
            height: 90px;
            width: 100%;
        }
    }
}

#main {
    display: flex;
    height: 100px;
    flex-grow: 1;

    &>div {
        width: 50%;
        padding: $padding;
    }
}

#original {
    min-width: 200px;
    textarea {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
    }
}

#result {
    min-width: fit-content;
    font-family: monospace;
    table {
        overflow-y: auto;
        border-collapse: collapse;
        tr:nth-child(4n + 1), tr:nth-child(4n + 2) {
            background-color: rgba(100,100,255,.2);
        }
        tr {
            white-space: nowrap;
        }
    }

    $lineHeight: 17px;

    #content-table {
        -webkit-user-select: text;
        -moz-user-select: text;
        user-select: text;
        &>div {
            height: $lineHeight;
            padding: 1px 0;
            white-space: nowrap;
        }
    }

    #annotation-table {
        td {
            padding: 1px 2px;
        }
        td[rowspan] {
            width: $blockNumberWidth;
            padding: 0;
            position: relative;
            &>span {
                padding: 4px;
                .proof-mode &{
                    &:hover {
                        color: black;
                    }
                    cursor: pointer;
                    &.other-button {
                        display: block;
                    }
                }
                &.other-button {
                    display: none;
                    position: absolute;
                    top: -12px;
                    left: 0px;
                    font-size: 15px;
                }
            }
        }
        .proof-mode & tr:first-child td[rowspan]>span.other-button{
                display: none;
            }
        td.placeholder {
            min-width: 34ch;
            height: $lineHeight;
        }
        .annotation {
            color: #777;
            min-width: 16px;
            text-align: right;
        }
        td[rowspan], td:last-child {
            font-family: sans-serif;
            font-size: 10px;
            color: #444;
        }
        td:last-child {
            padding-left: 4px;
        }
    }

    #content-table, #guideline-container {
        position: absolute;
        left: $blockNumberWidth;
    }

    #guideline-container {
        width: calc(100% - #{$blockNumberWidth});
        height: 100%;
    }

    .guideline {
        position: absolute;
        top: 0;
        border-left: 1px dashed #333;
        opacity: 60%;
        height: 100%;
        z-index: -1;
        &.red {
            border-left-color: #d33;
            opacity: 50%;
        }
        &.green {
            border-left-color: #3d3;
        }
        &.blue {
            border-left-color: #33d;
            opacity: 50%;
        }
    }
}


#cursor {
    border-bottom: 1px solid #fe2222;
    position: absolute;
    left: calc(#{$blockNumberWidth} - 1ch);
    box-shadow: 0 0 0 1px rgba(255, 0, 16, 0.36);
    border-radius: 1px;
}


#proof-controls {
    display: flex;
    flex-direction: column;
    &>div {
        flex-grow: 1;
        &:not(:last-child) {
            border-bottom: 1px dashed #999;
        }
        &>div {
            margin: 5px;
        }
        &.center {
            text-align: center;
        }
        &.left {
            & label {
                display: inline-block;
                max-width: calc(100% - 51px);
            }
            &>div {
                display: inline-block;
                vertical-align: middle;
                margin-left: 0;
            }
        }
        label {
            color: #222;
            text-shadow: 1px 1px white;
        }
        margin-bottom: 16px;
    }
    button {
        font-family: sans-serif;
        background: #ddd;
        border: 1px solid #aaa;
        font-size: 21px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin: 1px;
        &:not(:disabled) {
            cursor: pointer;
        }
        &.left, &.right {
            width: 90px;
            font-size: 14px;
            text-align: left;
            padding-top: 12px;
            padding-left: 7px;
        }
        &.left {
            text-align: left;
            padding-left: 7px;
        }
        &.right {
            text-align: right;
            padding-right: 7px;
        }
        &:active:not(:disabled), &.depressed {
            color: #333;
            background-color: #ccc;
            border-color: #333;
        }
        &.depressed:disabled {
            border-color: #900;
            color: #900;
        }
    }
}


.inner {
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.grow {
    position: relative;
    min-height: 100%;
}

button {
    margin: 0px;
}

textarea {
    resize: none;
    margin: 0;
    font-size: 15px;
}

@media screen and (max-width: 720px) {
    #reset-button {
        width: 35px;
        padding-right: 0px;
        white-space: nowrap;
        overflow: hidden;
    }
    #main>div{
        padding: 8px;
    }
}

@media screen and (max-width: 859px) {
    #proof-controls {
        display: flex;
        flex-direction: row;
        font-size: 13px;
        padding: 8px 0;
        height: 124px;
        &>div {
            margin-bottom: 0;
            padding: 10px 8px 0 8px;
            &:not(:last-child) {
                border-right: 1px dashed #999;
                border-bottom: none;
            }
        }
    }
}

@media screen and (min-width: 860px) {
    #settings-container {
        flex-direction: row;
        #settings, #main, #proof-controls  {
            height: auto;
        }
        #settings, #proof-controls {
            border-top: none;
            border-left: 1px solid #999;
            overflow-y: auto;
            width: 200px;
            flex-shrink: 1;
        }
        #settings {
            &>div {
                display: block;
                width: auto;
                max-width: none;
                margin-right: 8px;
                &::after {
                    display: none;
                }
                &::before {
                    content: attr(title);
                    display: block;
                    font-size: 10px;
                    margin-bottom: 3px;
                    margin-top: 3px;
                    margin-left: 0;
                }
            }
        }
    }
  }